/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Top Section */
.top-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Middle Section with Vanta.js Background */
.vanta-container {
  position: absolute;
  top: 30vh;
  left: 0;
  height: 60vh;
  overflow: hidden;
  background: black;
}

.vanta-bg {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content-container {
  position: absolute;
  top: 20vh;
  left: 10vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  width: 80vw;
  height: 60vh;
}

.table-responsive {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: white
  z-index: 2;
}

.table tfoot td {
  position: sticky;
  bottom: 0;
  background-color: black;
  color: white
  z-index: 2;
}

/* Bottom Section */
.bottom-section {
  position: absolute
  bottom: 0;
  height: 10vh;
  background-color: white;
}